# Ignorar node_modules
node_modules/

# Ignorar archivos de entorno
.env

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar cobertura de tests
coverage/

# Ignorar carpeta de producción (opcional si usas dist)
dist/
